body{
  font-family: 'Montserrat', sans-serif;
}
input, textarea, button{
  outline: none;
}
.section-partners, .section-contact{
  width: 100%;
  padding: 6vw 0 10vw 0;
}
.section-partners{
  background: url(../images/padrao.png) repeat #f5f5f5;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section-contact{
  background: #e2e2e2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partners{
  width: 60%;
}
.logo{
  background: #fff;
  margin: 1px 0;
  border-radius: 3px;
  padding-top: 100%;
  position: relative;
}
.partners img{
  max-width: 80%;
  max-height: 80%;
}
.partners span{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slick-slide{
  margin: 0 4px;
}

h1{
  font-weight: 700;
  font-size: 3em;
  font-style: italic;
  color: #69696b;
  position: relative;
  margin-bottom: 5vw;
}
h1:after{
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background: #fe8c15;
  left: 25%;
  bottom: -15px;
  position: absolute;
}

.text{
  color: #606062;
  font-size: 1.2em;
  font-weight: 600;
}
.text span{
  color: #fe8c15;
}

input[type="text"], textarea{
  border-radius: 30px;
  border: 1px solid #c8c8c8;
  width: 100%;
  font-size: 1em;
  color: #606062;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  padding: 15px 25px;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-top: 5px;
  resize: none;
  transition: all 1s ease-out;
}
input[type="text"]:focus, textarea:focus{
  -webkit-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.2);
-moz-box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.2);
box-shadow: 0px 0px 59px 5px rgba(0,0,0,0.2);
border-color: #fe8c15;
transition: all .2s ease-out;
}
input[type="text"]{
  font-size: 1.2em;
}
.form{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 3vw;
  width: 850px;
}
.form span{
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  color: #606062;
  margin-left: 30px;
}
.input, .textarea{
  flex-basis: 46%;
  margin: 15px 2%;
}
.send-form{
  background: #fe8c15;
  color: #fff;
  border: 0;
  border-radius: 100px;
  font-size: 1.2em;
  font-weight: 600;
  padding: 12px 50px 10px;
  font-style: italic;
  cursor: pointer;
  margin: 20px auto 0;
}
.send-form:hover{
  opacity: 0.8;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  opacity: 0.5;
}


footer{
  background: url(../images/logo-footer.png) no-repeat center center #ff7305;
  padding: 5vw 0;
  text-align: center;
  color: #fff;
  font-size: .9em;
}
footer p{
  margin: 7px 0;
}
footer img{
  width: 150px;
}

/* ANIMAÇÃO */
.section-banner{
  position: relative;
}
.city{
  width: 100%;
  height: 30vw;
  background-position: 0 5%, 0 100%, 0 100%;
  background-size: auto 35%, auto 50%, auto 90%;
  background-repeat: repeat-x, repeat-x, repeat-x;
  background-color: #8ac0e2;
  overflow: hidden;
  position: relative;
}
.nuvem{
  background-image: url(../images/nuvem.svg);
  background-repeat: repeat-x;
  background-size: auto 35%;
  background-position: 0 5%;
  height: 30vw;
  width: 200%;
  position: absolute;
  z-index: 1;
  transform: translate(0, 0);
  animation: nuvem 40s linear infinite;
}
.lojas{
  background-image: url(../images/lojas.svg);
  background-repeat: repeat-x;
  background-size: auto 50%;
  background-position: 0 103%;
  height: 30vw;
  width: 250%;
  position: absolute;
  z-index: 2;
  transform: translate(0, 0);
  animation: lojas 20s linear infinite;
}
.cidade{
  background-image: url(../images/cidade.svg);
  background-repeat: repeat-x;
  background-size: auto 90%;
  background-position: 0 100%;
  height: 30vw;
  width: 250%;
  position: absolute;
  transform: translate(0, 0);
  animation: cidade 30s linear infinite;
}

.street{
  height: 10vw;
  background: #3e3e3e;
  position: relative;
  overflow: hidden;
}
.faixa{
  width: 200%;
  height: 100%;
  position: absolute;
  font-size: 0;
  display: flex;
  align-items: center;
  animation: faixa 10s linear infinite;
}
.faixa li{
  width: 10%;
  height: 3%;
  background-color: #fe8c15;
  margin: 0 2%;
  transform:skew(30deg);
}
.skatista{
  width: 8vw;
  position: absolute;
  bottom: 6%;
  left: 15%;
  z-index: 3;
  animation: skatista 5s linear infinite;
}
.img-fumaca{
  position: absolute;
  width: 4vw;
  bottom: 0;
  left: -2vw;
  animation: fumaca 4s linear infinite;
}
.img-perna{
  position: absolute;
  bottom: 0;
  width: 3.5vw;
  left: 1.8vw;
  animation: perna 4s linear infinite;
  transform-origin: 15% 10%;
}
.img-moeda{
  width: 3vw;
  position: absolute;
  z-index: 4;
  left: 3vw;
  top: -3.2vw;
  animation: moeda 4s linear infinite;
}
.text-banner{
  width: 25vw;
  position: absolute;
  z-index: 5;
  font-size: 1.5vw;
  font-weight: 700;
  line-height: 2vw;
  right: 0;
  top: 0;
  padding: 3.3vw;
  color: #333;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+41,ffffff+82&0.65+41,0+73 */
background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 41%, rgba(255,255,255,0) 73%, rgba(255,255,255,0) 82%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 41%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 82%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(255,255,255,0.65) 41%,rgba(255,255,255,0) 73%,rgba(255,255,255,0) 82%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.text-banner p{
  font-size: 0.9vw;
  line-height: 1.3vw;
  font-weight: 400;
  color: #585858;
}

@keyframes nuvem {
	from { transform: translate(0, 0); }
	to { transform: translate(-44.8%, 0); }
}
@keyframes lojas {
	from { transform: translate(0, 0); }
	to { transform: translate(-42.5%, 0); }
}
@keyframes cidade {
	from { transform: translate(0, 0); }
	to { transform: translate(-42.5%, 0); }
}
@keyframes faixa {
	from { transform: translate(0, 0); }
	to { transform: translate(-40%, 0); }
}
@keyframes perna {
	0% { transform: rotate(0deg); }
  10% { transform: rotate(45deg); }
  80% { transform: rotate(45deg); }
  100% { transform: rotate(0deg); }
}
@keyframes fumaca {
	0% { left: -2vw; opacity: 0;  }
  10% { left: -2.5vw; opacity: 0.5; }
  30% { left: -3vw; opacity: 1;  }
  80% { left: -4vw; opacity: 0;  }
  100% {left: -2vw; opacity: 0;   }
}
@keyframes skatista {
  0% { bottom: 6%; }
  20% { bottom: 6.2%; }
  40% { bottom: 6%; }
  60% { bottom: 6.4%; }
  80% { bottom: 6.1%; }
  100% { bottom: 6%; }
}
@keyframes moeda {
	0% { top: -3.2vw; opacity: 0;  }
  10% { top: -3.6vw; opacity: 1; }
  60% { top: -4vw; opacity: 1;  }
  80% { top: -4.5vw; opacity: 0;  }
  100% {top: -3.2vw; opacity: 0;   }
}


@media (max-width: 900px) 
{
  .form{
    width: 90%;
   }
   .text{
     text-align: center;
     width: 90%;
   }
   .input, .textarea{
    flex-basis: 100%;
    margin: 15px 0;
   }
}

@media (max-width: 600px) 
{
  h1{
    font-size: 7vw;
  }
  .text{
    font-size: 3vw;
    line-height: 4vw;
    margin-top: 30px;
  }
  .input, .textarea{
    font-size: 4vw;
   }
   .slick-next:before, .slick-prev:before{
    transform: scale(0.5);
    display: block;
   }
   .slick-next{
    right: -60px;
   }
   .slick-prev{
     left: -60px;
   }
   .section-partners h1{
     margin-bottom: 60px;
   }
   .city{
    height: 60vw;
  }
  .cidade, .lojas, .nuvem{
    height: 60vw;
    animation-play-state: paused;
  }
  .faixa, .skatista, .img-fumaca, .img-moeda, .img-perna{
    animation-play-state: paused;
  }
  .street{
    height: 15vw;
  }
  .text-banner{
    width: 80%;
    font-size: 5vw;
    line-height: 5.3vw;
    padding: 8% 10%;
    right: auto;
  }
  .text-banner p{
    font-size: 3vw;
    line-height: 3.3vw;
  }
  footer p{
    padding: 0 20px;
    line-height: 1.3em;
  }
  .skatista{
    width: 15vw;
  }
  .img-perna{
    width: 6.5vw;
    left: 3vw;
  }
}